html{
    background-color: black;
  color: white;
  font-size: 62.5%;
  font-family: "Poppins";
  margin: 0;
}
.dashboard_main{
    display: flex;
    justify-content: space-between;
    margin-left: 5vh;
    margin-right: 5vh;
    font-size: 2rem;
    margin-top: 10rem;
}
.dashboard_left{
 float: right;
 width: 55%;
 display: grid;
 place-content: center;
}
.dashboard_right{
    float: left;
    width: 40%;
    display: grid;
    place-content: center;
    grid-template-columns: 30rem;
    text-align: center;
}

